alembic==1.13.3
aniso8601==9.0.1
blinker==1.8.2
build==1.2.2.post1
click==8.1.7
distlib==0.3.8
filelock==3.16.1
Flask==3.0.3
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==2.1.5
marshmallow==3.22.0
marshmallow-sqlalchemy==1.1.0
packaging==24.1
pip-tools==7.4.1
platformdirs==4.3.6
pyproject_hooks==1.2.0
pytz==2024.2
setuptools==75.2.0
six==1.16.0
SQLAlchemy==2.0.35
SQLAlchemy-serializer==1.4.12
typing_extensions==4.12.2
virtualenv==20.26.6
Werkzeug==3.0.4
wheel==0.44.0
zipp==3.20.2
